body {
background-color: blanchedalmond;
font-family: Verdana, sans-serif;
}
header {
  width: 40%;
  height: 100px;
  background-color: olive;
  margin-left: 300px;
  margin-top: 1px;
}
input[type="text"], input[type="email"], textarea, button {
  display: block;
  margin: 15px 0px;
  width: 400px;
  box-sizing: border-box;
  border-radius: 6px;
  box-shadow: inset 2px 2px 5px blue;
  margin-left: 400px;
}
textarea {
  height: 200px;
  background-color: lightblue;
  padding: 5px 4px;
  margin-left: 400px;
}
button {
  background-color: lightblue;
  color: maroon;
  border-radius: 8px;
  width: 100px;
  margin-left: 600px.
}
button:active {
  background-color: green;
  color: darkblue;
  border-radius: 8px;
  box-shadow: inset 2px 2px 5px blue;
  width: 200px;
  margin-left: 400px;
}
footer {
  width: 40%;
  min-height: 200px;
  background-color: orange;
  margin-top: 20px;
  margin-left: 300px;
}
small {
padding-left: 400px;
margin-bottom: 50px;
}
 table {
  background-color: lightgreen;
  width: 576px;
  height: 100px;
  margin-bottom: 50px;
  margin-left: 400px;
}
#imgeen {
  width: 160px;
  height: 140px;
  margin-left: 10px;

}
#imgtwee {
  width: 160px;
  height: 140px;
  margin-left: 3px;

}
#imgdrie {
  width: 160px;
  height: 140px;
  margin-left: 8px;
}
#imgvier {
  width: 160px;
  height: 140px;
  margin-left: 10px;
}
#imgvijf {
  width: 160px;
  height: 140px;
  margin-left: 3px;
}
#imgzes {
  width: 160px;
  height: 140px;
  margin-left: 10px;
}
#imgzeven {
  width: 160px;
  Height: 140px;
  margin-left: 8px;
}
#imgacht {
  width: 160px;
  height: 140px;
  margin-left: 3px;
}
#imgnegen {
  width: 160px;
  height: 140px;
  margin-left: 10px;
}
ul a {
color: white;
text-decoration: none;
}
li {
  display: inline-block;
  height: 22px;
  width: 100px;
  padding 12px;
  text-align: center;
  color: white;
  border-left: 2px solid green:
  border-right: 1px solid green;
  background-color: skyblue;
}
li:hover {
background-color: lightgreen;
border-style: none;
}
h1 {
  margin-left: 500px;
  padding-top: 8px;
}
p {
  padding-bottom: 20px;
  margin-left: 400px;
  padding-right: 1000px;
}
h2 {
  margin-left: 450px;
  margin-bottom: 15px;
}
h3 {
  margin-left: 400px;
  color: maroon;
  padding-right: 1200px;
}
